
body{
margin:0px;
text-align: center;
font-family: 'Merriweather', serif;}
.top-container{
    background-color:#dff9fb;
    padding: 30px;
    width:100%;
    margin:0px;
        
}
.anurag-photo{
    height: 200px;
    width:200px;
}
.computerguy{
    height: 400px;
    width:  400px;
    position: relative;   
}
h1{
    font-family: 'Sacramento', cursive;
    color: #204051

}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #204051;


}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #3b6978;


}
p{
    font-family: 'Montserrat', sans-serif;
    color:#30336b;

}
.subtitle{

    font-family: 'Montserrat', sans-serif;
    color:#30336b;


    text-align: center;
}
hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }
.middle-container{
    background-color:white;
    text-align: center;
    margin:0px;
    width:100%;
}
.skill-img{

    
    
    width:200px;
    height:200px;
   text-align: center;
}
skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
  }
  .intro {
    width: 30%;
    margin: auto;
  }
  .bottom-container {
    background-color: #dff9fb;
    padding: 50px 0 20px;
  }
  
