
body{
    color:#40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container{
    background-color:#dff9fb;
    padding: 30px;
    width:100%;
    margin:0px;
        
}

.container {
    position: relative;
    width: 100%;
    
  }
  
  /* Make the image to responsive */
  .anurag-photo {
   text-align: center;
    width: 300px;
    height: 300px;
  }
  
  /* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    margin-left: 150px;
    width: 250px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  /* When you mouse over the container, fade in the overlay title */
  .container:hover .overlay {
    opacity: 1;
  }
.computerguy{
    height: 400px;
    width:  400px;
    position: relative;   
}
h1{
    font-family: 'Sacramento', cursive;
    color: #204051;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;

}
h2{
    font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
    color: #204051;



}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #3b6978;


}
p{
    font-family: 'Montserrat', sans-serif;
    color:#30336b;
    line-height: 2;

}
.subtitle{

    font-family: 'Montserrat', sans-serif;
    color:#30336b;
    line-height: 2;


    text-align: center;
}
hr {
    border: dotted #66bfbf 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }
  .middle-container {
    margin: 100px 0;
  }
.skill-img{

    
    
    width:200px;
    height:200px;
   text-align: center;
}
skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
  }
  .intro {
    width: 30%;
    margin: auto;
  }
  .bottom-container {
    background-color: #dff9fb;
    padding: 50px 30px 20px;
    width:100%;
    position: absolute;;
  }
  .contact-gif{
    width:200px;
    height:200px;
   text-align: center;
  }
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .contact-message {
    width: 40%;
    margin: 40px auto 60px;
  }
  
  .copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }
  a.footer-link{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
