
body{
    color:#40514E;
    max-width: 100%;
   
      overflow-x: hidden ;
  
    font-family: 'Merriweather', serif;
     
}

.top-container{
    background-color:#dff9fb;
   padding-top: 40px;
        
}

.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}



  
  /* Make the image to responsive */
  .anurag-photo {
width: 400px;
height:500px;
padding-right:50px;  }
  
  /* The overlay effect - lays on top of the container and over the image */

.computerguy{
    height: 400px;
    width:  400px;
    position: relative;   
}
h1{
    font-family: 'Sacramento', cursive;
    color: #204051;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;

}
h2{
    font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
    color: #204051;



}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #3b6978;


}
p{
    font-family: 'Montserrat', sans-serif;
    color:#30336b;
    line-height: 2;

}
.subtitle{

    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    color:#30336b;
    line-height: 2;
    text-align: center;
    
}
hr {
    border: dotted #66bfbf 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }
  .middle-container {
    margin: 100px 0;
  }
.skill-img{

    
    
    width:200px;
    height:200px;
   text-align: center;
}
.ai{
   width:200px;
    height:200px;
}
  .intro {
    width: 30%;
    margin: auto;
  }
  .gd{
    padding:50px 0;
  }
  .coding{
    width:300px;
    height:370px;
  }
  .prog{
    padding-right:50px;
  }
  .bottom-container {
    background-color: #dff9fb;
    padding: 50px 30px 20px;
    width:100%;
    position: absolute;;
  }
  .contact-gif{
    width:200px;
    height:200px;
   text-align: center;
  }
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .contact-message {
    width: 40%;
    margin: 40px auto 60px;
    font-size: 1.25rem;
  }
  
  .copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }
  .footer-link{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
